.btn{
    justify-content: center;
    background-color:yellow ;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px;
    margin: 40px;
}
p{
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
}
button:hover{
    padding: 15px 25px;
    color: violet;
    background-color: green;

}
button:focus{
    padding: 25px 35px;
    background-color: rgb(28, 65, 176);
    color: rgb(208, 40, 51);
}
p:hover{
    display: flex;
    text-align: center;
    border: 5px solid lawngreen;
    border-radius: 25px;
    font-size: 25px;
    font-weight: 900px;
    color: brown;
    
}
